.button {
  font: inherit;
  background: #267b9d;
  border-color: #267b9d;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 50px; 
  margin-top: 10px;
}

.button:hover,
.button:active {
  background: #67abc6;
  border-color: #67abc6;
}

.button:focus {
  outline: none;
}