.submitChanges {
    color: white;
    background-color:rgb(1, 182, 1);
    border-color:green;
    padding: 0.25rem 1rem;
}

.deleteGoal {
    color: white;
    background-color: red;
    border-color: rgb(171, 2, 2);
    padding: 0.25rem 1rem;
}

.input {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .days {
    display: flex;
    justify-content: space-evenly;
  }
  
  .input input[type='text'] {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }
  
  .input input:focus {
    outline: none;
    border-color: #4f005f;
  }
  
  .submitButton {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  
  .days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .days div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }