.user-item a:hover,
.user-item a:active {
  background: #ffd900;
}

.user-content {
  padding: 0;
}

.user-img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  border-radius: 25%;
  
}

/* Goal.css */

.user-info-border {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
  background-color: rgb(87, 148, 101);

  border: 2px  black; /* Add black dotted border */
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px; /* Add margin bottom for spacing */
  margin-right: 10px;
}



.user-info h2 {
  font-size: 1.8rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: black;
  display: inline;
  
}
.user-info h3 {
    margin: 0.2em 0;

}

.user-item:hover h2,
.user-item:active h2,
.user-item:hover h3,
.user-item:active h3 {
  color: #292929;
}

.user-item__info h3 {
  margin: 0;
} 

.goal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  margin-left: 10px;
  border-color: black;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60%;
  width: 80%;
}

.goalGridItem {
  display:flex;
  align-items: center;
}