.logForm {
    margin: 5em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    margin: 2em 1em;
}

.login form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.hdr {
    color: white;
}

body {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.formsbirds.com%2Fformhtml%2Fa48b0ecbc6a9c3da67eb%2Fprintadaffe402978813b83181%2Fbg1.png&f=1&nofb=1&ipt=d9e769cd1f929dd9b1d266363f47e219fbeb769c9bc71e38d5713b59f09cbfee&ipo=images');
    background-size: 1300px 700px;
}